@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
  }
  body {
    @apply bg-bg text-fg font-sans antialiased;
    font-feature-settings: 'cv11', 'ss01', 'ss03';
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #2a2a32;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3a3a44;
  }
}
